.red {
	background-color: red;
}

.width {
	width: 100%;
	background-color: blue;
}

.top-bar {
	background-color: green;
}

.contain-to-grid {
	background-color: green;
}

.top-bar-section ul li {
  background-color: green;
}

.blue {
	background-color: blue;
}